<header class="header">
    <nav>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="{{ '/' | relative_url }}">home</a>
            </li>
            <li class="nav-item">
                <a href="{{ '/categories' | relative_url }}">category</a>
            </li>
            <li class="nav-item">
                <a href="{{ '/study' | relative_url }}">study</a>
            </li>
            <li class="nav-item">
                <a href="{{ '/projects' | relative_url }}">project</a>
            </li>
        </ul>
    </nav>
</header>